{#include fragments/layout.html}
{#title}- Editar Instituição{/title}

{#body}
<div class="col-md-6 offset-md-3 ">
	<h2 class="text-center">Editar Instituição de Ensino</h2>
	<form class="form-horizontal" action="/instituicoes/editarInstituicao" method="post">
	<div class="form-group">
		<input type="hidden" id="id" name="id" value="{usuario.id}"/>
	    <div class="form-group row">
      	 <label for="nome" class="col-sm-2 col-form-label">Nome</label>
	     <input type="text" class="col-md-8" name="nome" id="nome" value="{inst.nome}"><br>
	    </div>
	    <div class="form-group row">
      	 <label for="endereco" class="col-sm-2 col-form-label">Endereço</label>
	     <input type="text" class="col-md-8" name="endereco" id="endereco" value="{inst.endereco}"><br>
	    </div>
	    <div class="form-group row">
      	 <label for="cnpj" class="col-sm-2 col-form-label">CNPJ</label>
	     <input type="text" class="col-md-8" name="cnpj" id="cnpj" value="{inst.cnpj}"><br>
	    </div>	    
	    <div class="form-group row">
      	 <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
	     <input type="text" class="col-md-8" name="telefone" id="telefone" value="{inst.telefone}"><br>
	    </div>
	    <button type="submit" class="btn btn-primary">Salvar</button>
	  </div>
	</form>
</div>
{/body}
{/include}